@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.murach_logo img{
    width: 100px;
    height: auto;
}

.wrapper {
    width: 80vw;
    margin: 0 auto;
    padding: 2rem;
}

:root {
    --default-green: #0c7b85;

}

h1, h2, h3, h4, h5 {
    color:var(--default-green);
}
.input {
    display: flex;
    gap: 1rem;
    width: 400px;
    justify-content: space-between;
}
.input_group {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.button {
    background: #0c7b85;
    &:hover{
        background: #08545c;
    }
    color:white;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
}